.Aside {
    display: grid;
    width: 15%;
    height: 100%;
    align-content: center;
    justify-content: space-around;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    overflow-y: auto;
    position: fixed;
  };