.button {
    font-size: medium;
    color: white;
    padding: 10px;
    display: flex;
    margin: 10px;
    width: 100px;
    justify-content: center;
    background-color: transparent;
    border-color: white;
    border-width: 7px;
    font-variant-caps: all-petite-caps;
}

.button:hover {
    font-weight: bold;
    background-color: orange;
}

.button-container{
    justify-content: space-between;
    margin: 0 10px;
}
