*{
    margin: 0;
    padding: 0;
    background-color: #20284E;
    color:white;
}

.app-container {

    overflow-y: auto;
    overflow-x: auto;
}

.main-content {
    width: 75%;
    justify-content: center;
    margin-left: 20%;
}

h1{
    display:flex;
    justify-content: center;
}